.header{
    display:flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.header_left{
    flex:0.6;
    min-width: 70px;
    background-color: white;
    color: gray;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header_left > input{
    border:none;
    width:100%;
}

.header_right{
    display:flex;
    align-items: center;
}

.header_right > a{
    margin-left: 20px;
    color: white;
    text-decoration: none;
}


