.sidebar{
    height: 120vh;
    flex: 0.2;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    background-color: #040404;
}

.sidebar_logo{
    height: 80px;
    width:165px;
    padding: 10px;
}

.sidebar_title{
    margin-left: 15px;
    padding: 5px;
    font-size:12px;
}

.like{
    margin-top: none;
}