.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login>img{
    width: 50%;
}

.login > button{
    padding: 20px;
    background-color: #1db954;
    border-radius: 50px;
    border-color: black;
    font-weight: 600;
    color: white;
    text-decoration: none;
}